.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
  }
  
  .dynamic-table {
    border-collapse: collapse;
    margin: 20px;
  }
  
  .dynamic-table th, .dynamic-table td {
    border: 1px solid black;
    padding: 8px 12px;
  }
  
  .buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  